.App {
  max-width: 800px;
  margin: 60px auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #3b3838;
  font-size: 16px;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

.WeatherInfo h2 {
  font-size: 40px;
  color: #ffffff;
}

.FormattedDate {
  margin-top: -28px;
  font-size: 21px;
  color: #fafafa;
  margin-bottom: 20px;
}

footer {
  color: black;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  font-size: small;
}