.Weather {
  padding: 35px;
  border-radius: 50px;
  margin-top: 85px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(6, 123, 239) 14.2%,
    rgb(219, 115, 249) 89.5%
  );
}

.weather-temperature {
  color: #ffffff;
  font-size: 65px;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -30px;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.Weather .search-input {
  margin-right: 16px;
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
}

.Weather .btn {
  background: #5729cc;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}
