.WeatherForecast {
  color: #3b3838;
  text-align: center;
}

.WeatherForecast-temperature-min {
  margin-left: 10px;

}
.WeatherForecast-temperature-max {
  margin-left: 10px;
}

.row {
  display: inline-flex;
  flex-direction: row;
}

.col {
  margin-inline-start: 15px;
  margin-top: 15px;
}